<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>1. 定语从句</string>
	<string>2. 名词性从句</string>
	<string>3. 非谓语动词</string>
	<string>4. 虚拟语气</string>
	<string>5. 情态动词</string>
</array>
</plist>
