<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>2. besides, but, except, except for, excepting, apart from的区别</string>
	<string>3. too...to 结构表示肯定含义的情况</string>
	<string>4. every表示”每隔“的用法</string>
	<string>5. alive、live、living和lively的用法</string>
	<string>6. 含义因有无冠词而迥异的短语</string>
	<string>7. 用to do还是of doing作后置定语</string>
	<string>8. 不定式和动名词作主语的区别</string>
	<string>9. 不定式、动名词和分词作表语的区别</string>
	<string>10. 不定式和动名词作宾语的区别</string>
	<string>11. 不定式、现在分词和过去分词作定语的区别</string>
	<string>12. 不定式和分词作状语的区别</string>
	<string>13. 非谓语动词常考的其它结构 </string>
	<string>14. 非谓语动词中的有关句型</string>
</array>
</plist>
