<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>1. 名词</string>
	<string>2. 冠词和数词</string>
	<string>3. 代词</string>
	<string>4. 形容词和副词</string>
	<string>5. 动词</string>
	<string>6. 动名词</string>
	<string>7. 动词不定式</string>
	<string>8. 特殊词精讲</string>
	<string>9. 分词</string>
	<string>10. 独立主格</string>
	<string>11. 动词的时态</string>
	<string>12. 动词的语态</string>
	<string>13. 句子的种类</string>
	<string>14. 倒装</string>
	<string>15. 主谓一致</string>
	<string>16. 虚拟语气</string>
	<string>17. 名词性从句</string>
	<string>18. 定语从句</string>
	<string>19. 状语从句</string>
	<string>20. 连词</string>
	<string>21. 情态动词</string>
</array>
</plist>
